doctype html
html
  head
    meta(name=&#39;Viewport&#39;, content=&#39;width=device-width&#39;,intial-scale=1.0)

    title= title
 
    link(rel=&#39;stylesheet&#39;,href=&#39;/bootstrap/css/amelia.bootstrap.css&#39;)
    link(rel=&#39;stylesheet&#39;, href=&#39;/stylesheets/style.css&#39;)

  body
     .container
      block content
      footer
        .row
          .col-xs-12
            small &amp;copy;@anurag.edu copy rights 2023